@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-banner {
  background: linear-gradient(
    180deg,
    rgba(28, 35, 50, 0) 29.65%,
    rgba(28, 35, 50, 0.2) 100%
  );
}

.bg-card {
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0) 8.6%,
    #ffffff 100%
  );
}

.bg-small-card {
  background: linear-gradient(
    0deg,
    #ffffff 10%,
    rgba(255, 255, 255, 0) 50%,
    #ffffff 100%
  );
}

.bg-chart {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 43.67%,
    #ffffff 89.67%
  );
}
